.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 40px 20px;
  background: #f2f2f2;
  border-radius: 8px;
  gap: 10px;
}

label {
  display: flex;
  flex-direction: column;
}

input {
  padding: 5px;
}

button {
  padding: 5px;
}

span {
  color: red;
  font-size: 0.75rem;
}