.container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.container form {
  background: #f2f2f2;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px 20px;
  width: 20%;
}

.container label {
  display: flex;
  flex-direction: column;
}

.container input {
  padding: 5px;
}

.container button {
  padding: 5px;
}

.container span {
  color: red;
  font-size: 0.75rem;
}
