.c-customer-order-details {
   padding: 1rem 7.75rem;
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.c-customer-order-details > h1 {
  color: #595959;
  padding-left: 1rem;
}

.sub-total {
  border-radius: 0 12px 12px 0;
}
.c-main-section {
  border-radius: 8px;
  box-shadow:  10px 10px 50px #bebebe,
             -20px 10px 30px #ffffff;
  height: 80vh;
  overflow: hidden;
}

.c-main-section > table {
  padding: 0 1.5rem;
}

.c-general-info {
  display: flex;
  width: 100%;
  align-items: center;
  background: #f2f2f2;
  padding: .3125rem 1.5rem;
  font-size: 1.25rem;
  gap: 1rem;
  cursor: default;
}

.order, .date, .status {
  font-weight: 700;
}

.date {
  padding: 0.25rem 1rem;
  background: #F2FFFC;
  border-radius: .625rem;
}

.status-Pendente {
  background: #ffd18c;
  padding: 0.25rem 1rem;
  border-radius: .625rem;
  font-weight: 700;
  text-transform: uppercase;
}
.status-Entregue {
  background: #b2ff9e;
  padding: 0.25rem 1rem;
  border-radius: .625rem;
  font-weight: 700;
  text-transform: uppercase;
}
.status-Preparando {
  background: #f1f9ac;
  padding: 0.25rem 1rem;
  border-radius: .625rem;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-entregue {
  border: 0;
  border-radius: .625rem;
  padding: 0.25rem 1rem;
  font-weight: 700;
  font-size: 1.15rem;
  background: #036B52;
  color: #f2f2f2;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-entregue:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
